
/*загружаемые шрифты*/

@font-face {
  font-family: 'Gillroy Extra Bold';
  src: local('Gillroy Extra Bold'),
  url(../fonts/gilroyextrabold.woff2),
  url(../fonts/gilroyextrabold.woff);
}

@font-face {
  font-family: 'Gillroy Light';
  src: local('Gillroy Light'),
  url(../fonts/gilroylight.woff2),
  url(../fonts/gilroylight.woff);
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
  url(../fonts/opensans.woff2),
  url(../fonts/opensans.woff);
}

@font-face {
  font-family: 'Open Sans Light';
  src: local('Open Sans Light'),
  url(../fonts/opensanslight.woff2),
  url(../fonts/opensanslight.woff);
}

/*кастомные свойства*/

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #FFFFFF;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --error-red: #F6DADA;

  --gillroy-extrabold: 'Gillroy Extra Bold';
  --gillroy-light: 'Gillroy Light';
  --opensans: 'Open Sans';
  --opensans-light: 'Open Sans Light';
}

/*основные стили страниц*/

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: var(--opensans), Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  height: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  padding-top: 40px;
}

.main-header-wrapper {
  background-color: var(--special-yellow);
  display: grid;
  grid-template-areas:
  "main-links main-links"
  "catalog header-info-links"
  "catalog .";
}

.main-links {
  display: grid;
  grid-area: main-links;
}

.header-logo {
  order: -1;
}

.main-link,
.catalog-link,
.header-info-link {
  color: var(--basic-black);
}

.main-link:hover,
.main-link:focus,
.catalog-title:hover,
.catalog-title:focus,
.catalog-link:hover,
.catalog-link:focus,
.header-info-link:hover,
.header-info-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-link:active,
.catalog-title:active,
.catalog-link:active,
.header-info-link:active {
  color: rgba(0, 0, 0, 0.3);
}
.catalog-title,
.header-info-link,
.footer-info-link {
  font-family: var(--gillroy-extrabold), Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.2em;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog {
  grid-area: catalog;
}

.catalog-menu {
  display: none;
}

.catalog:hover .catalog-menu {
  display: block;
}

.catalog-title,
.info-link {
  font-family: var(--gillroy-extrabold), Arial, sans-serif;
  text-transform: uppercase;
}

.header-info-links {
  grid-area: header-info-links;
}

.title {
  font-family: var(--gillroy-extrabold), Arial, sans-serif;
  font-size: 47px;
  line-height: 100%;
}

.slider {
  margin-bottom: 76px;
}

.slider-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  font-family: var(--gillroy-extrabold), Arial, sans-serif;
  font-size: 18px;
  line-height: 100%;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.button:hover,
.button:focus {
  background-color: var(--special-yellow-dark);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: var(--special-yellow-dark);
}

.parameter-value {
  font-family: var(--gillroy-light), Arial, sans-serif;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0.1em;
}

.parameter-name {
  font-family: var(--gillroy-light), Arial, sans-serif;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.1em;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.category-item {
  width: 160px;
}

.category-link {
  font-family: var(--gillroy-extrabold), Arial, sans-serif;
  font-size: 18px;
  line-height: 100%;
  color: var(--basic-black);
  letter-spacing: 0.05em;
}

.category-link:hover,
.category-link:focus {}

.category-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-list {
  background-color: var(--basic-grey-light);
}

.service-name {
  font-family: var(--gillroy-extrabold), Arial, sans-serif;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
}

.service-name:hover,
.service-name:focus {}

.service-name:active {
  background-color: var(--basic-black);
  color: var(--special-yellow);
}

.service-title,
.about-us-title,
.contacts-title {
  letter-spacing: 0.2em;
}

.service-description {
  line-height: 30px;
  letter-spacing: 0.1em;
}

.promo-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.about-contacts-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.partners-list {
  margin: 0;
  padding: 0;
}

.partner-item {
  font-family: var(--gillroy-extrabold), Arial, sans-serif;
  font-size: 16px;
}

.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  display: grid;
  grid-template-areas:
  "footer-logo . footer-links"
  "address footer-info phone"
  "socials-before socials creator";
}

.footer-logo {
  grid-area: footer-logo;
}

.footer-links {
  grid-area: footer-links;
}

.address {
  grid-area: address;
}

.footer-info {
  grid-area: footer-info;
}

.socials {
  grid-area: socials;
}

.socials::before {
  grid-area: socials-before;
}

.footer-link {
  color: rgba(255, 255, 255, 0.7);

}

.footer-link:hover,
.footer-link:focus {
  color: var(--basic-white);
}

.footer-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-info-link {
  color: var(--basic-white);
}

.footer-info-link:hover,
.footer-info-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-info-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.phone {
  color: var(--basic-white);
  grid-area: phone;
}

.social-link {
  color: var(--basic-white);
}

.social-link:hover,
.social-link:focus {}

.social-link:active {}

.creator {
  color: var(--special-yellow-dark);
  grid-area: creator;
}

.breadcrumbs-link {
  color: rgba(0, 0, 0, 0.3);
  font-family: var(--opensans-light), Arial, sans-serif;
  font-size: 14px;
  line-height: auto;
}

.breadcrumbs-link[href^="#"]:hover,
.breadcrumbs-link[href^="#"]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-link[href^="#"]:active {
  color: rgba(0, 0, 0, 0.1);
}

.sorting-header {
  background: linear-gradient(to right, #DCDCDC  32.5%, #E5E5E5  32.5%);
}

.sorting-block {
  display: grid;
  grid-template-columns: 328px 832px;
}

.filter-name {
  font-family: var(--gillroy-extrabold), Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 100%;
}

.sorting-wrapper {
  background: linear-gradient(to right, #E5E5E5  32.5%, #FFFFFF  32.5%);
}

.sorting-list--types {
}

.sorting-link {
  font-family: var(--opensans), Arial, sans-serif;
  color: var(--basic-black);
}

.sorting-link[href^="#"],
.pagination-link[href^="#"] {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-link[href^="#"]:hover,
.sorting-link[href^="#"]:focus,
.pagination-link[href^="#"]:hover,
.pagination-link[href^="#"]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-link[href^="#"]:active,
.pagination-link[href^="#"]:active {
  color: var(--basic-black);
}

.filter-upperblock {
  background-color: #DCDCDC;
}

.filter-form {
  width: 328px;
  background-color: var(--basic-grey-light);
}

.products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.products-link {
  display: none;
}

.product-thumb:hover .products-link {
  display: block;
  cursor: pointer;
}

.product-title {
  font-family: var(--gillroy-extrabold), Arial, sans-serif;
  color: var(--basic-black);
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.05em;
  order: 0;
}

.basket {
  font-family: var(--gillroy-extrabold), Arial, sans-serif;
  background-color: var(--special-yellow-dark);
  color: var(--basic-black);
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.basket:hover,
.basket:focus {}

.basket:active {
  color: rgba(0, 0, 0, 0.3);
}

.compare {
  font-family: var(--opensans-light), Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: auto;
  letter-spacing: 0.1em;
}

.compare:hover,
.compare:focus {
  color: var(--basic-black);
}

.compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.price {
  font-family: var(--gillroy-light), Arial, sans-serif;
  color: var(--basic-black);
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.05em;
}

.pagination {
  background-color: #EBEBEB;
}

.pagination-link {
  font-family: var(--gillroy-extrabold), Arial, sans-serif;
  color: var(--basic-black);
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.pagination-button {
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: #D9D9D9;
}

.pagination-button:active {
  background-color: #D9D9D9;
  color: rgba(0, 0, 0, 0.3);
}
